{% extends "core/base.html" %}

{% block content %}

<div class="container-fluid mt-5">
    
    {% for restaurant in all_restaurants %}
        <div class="row justify-content-center">
            <div class="col-6 p-3 m-3 border border-2 border-info rounded-2">
                <a href="{% url 'restaurant_menu' restaurant.id %}" class="text-decoration-none text-dark">
                    <h2 class="capitalize-first">{{restaurant.restaurant_name}}</h2>
                </a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock content %}